/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
.collage {
    
    float: right;
    width: 83%;
}

.collage > img {
    margin: 5px;
}

h1 {
    text-align: center;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */